<h1>ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç·¨é›†</h1>

<%= form_with(model: @user, local: true) do |f| %>

  <%= f.label :ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ç”»åƒ %>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= f.file_field :image %>

  <%= f.label :ãŠåå‰ %>
  <%= f.text_field :name %>

  <%= f.label :ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ %>
  <%= f.email_field :email %>

  <%= f.label :è‡ªå·±ç´¹ä»‹æ–‡ %>
  <%= f.text_field :introduce %>

  <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ %>
  <%= f.password_field :password %>

  <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ï¼ˆå†å…¥åŠ›ï¼‰ %>
  <%= f.password_field :password_confirmation %>


<%= f.submit "ðŸŒŸãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«ã‚’æ›´æ–°ã™ã‚‹ðŸŒŸ" %>

<% end %>
