<div class="new_account">
  
  <h1>ã‚¢ã‚«ã‚¦ãƒ³ãƒˆç™»éŒ²</h1>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @user, local: true) do |f| %>
    <%= f.label :ãŠåå‰ %>
    <%= f.text_field :name %>

    <%= f.label :ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹ %>
    <%= f.email_field :email %>

    <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ %>
    <%= f.password_field :password %>

    <%= f.label :ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ï¼ˆå†å…¥åŠ›ï¼‰ %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "ðŸŒŸæ–°ã—ã„ã‚¢ã‚«ã‚¦ãƒ³ãƒˆã‚’ä½œæˆã™ã‚‹ðŸŒŸ" %>
  <% end %>

</div>
