<!DOCTYPE html>
<html>
  <head>
    <title>Isostagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header">
    <% if logged_in? %>
      <ul class="top_ul">
        <li id="top_icon"> Isostagram </li>
        <li id="li_top"><%= link_to "プロフィール", user_path(current_user.id) %></li>
        <li id="li_top"><%= link_to '投稿一覧へ', feeds_path %></li>
        <li id="li_top"><%= link_to 'お気に入り一覧', favo_index_path %></li>
        <li id="li_top"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
      </ul>
    <% else %>
      <ul class="top_ul">
        <li id="top_icon"> Isostagram </li>
        <li id="li_top"><%= link_to "新規アカウント登録", new_user_path %></li>
        <li id="li_top"><%= link_to "ログイン", new_session_path %></li>
      </ul>
    <% end %>
  </header>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <%= yield %>
    </div>
  </body>

  <footer>
    <p>Isostagram</p>
    <p>© 2019 Copyright I・S・O株式会社</p>
  </footer>

</html>
